/*  your css code here. If applicable */
.center-div{
	display:flex;
	align-items:center;
	justify-content:center;
	height:200px;
	width:200px;
	background-color:lightblue;
	border:2px black;
}
.heading{
	color:purple;
}